
/* GENERAL */

html {
    scroll-behavior: smooth;
}

body{
    padding-top: 70px;
    font-size: 19px;
}



/* UTILITIES */

 .size{
    font-weight: normal;
}  

.bg_blue{
    background: #2c3e50;
}

.bg_white{
    background: #fff;
}

.bg_green{
    background:#1abc9c;
}

.color_white{
    color:#fff;
}

.color_blue{
    color: #2c3e50;
}

.padding_left{
    padding-left: 15px;
}

.padding-0{
    padding: 0;
}

.margin_top{
    margin-top: 60px;
} 

 .margin_bottom{
    margin-bottom: 60px;
}  

.margin_top_small{
    margin-top: 25px;
}

.hr{
    content:"";
    display: inline-block;
    height: 3px;
    width: 60px;
    border-radius: 3px;
    border: 1px solid transparent;
}

.icon_left{
    margin-right: 5px;
}

.fa-star{
    font-size: 15px;
    position: relative;
    top: 5px;
}




/* HEADER */

 header.main_header .navbar a {
    font-weight: bold;
    font-size: 20px;;
    text-decoration: none;
    color: #fff;
} 

header.main_header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

header.main_header .navbar{
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-toggle{
    border: 1px solid #fff;
}

.sr-only,
.icon-bar{
   background-color:#fff;
   transition: all .3s;
}

header.main_header .navbar-right a,
header .navbar-brand{
    transition: all .3s;
}

header .navbar-brand:hover{
    transform: scale(1.1);

}

header.main_header .navbar-right a:hover{
    color: #1abc9c;
    background-color: transparent;
}


/* HERO */

.section_hero img{
    width: 180px;
    padding-top: 20px;
}

.section_hero h1{
    font-size: 35px ;
}

.section_hero h2{
    font-size: 16px;   
}


/* PORTFOGLIO */

.section_portfoglio .img-responsive{
    border-radius: 10px;
    margin-top: 20px;
}

.section_portfoglio .overlay{
    position: relative;
}

.section_portfoglio .overlay .layover{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    transition: all .3s;
}

.layover .fa-plus{
    opacity:0;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: #fff;
    transition: all .3s;
}

.layover:hover .fa-plus{
    opacity:1;  
}

.layover:hover{
    cursor: pointer;
    border-radius: 10px;   
    background-color: rgb(27 218 101 / 55%)
}



/* ABOUT */

/* button */

.my_btn{
    padding: 10px;
    font-size: 16px;
    border-color: transparent;
    transition: all .3s;
}

.my_btn_outline{
    color: #fff;
    border: 1px solid #fff;
}

.my_btn_outline:hover{
    background-color: #fff;
    color: black;   
}

.about .my_btn{
    margin-top: 80px;
}

 /* CONTACT */

.registration_form input[type="name"],
.registration_form input[type="email"],
.registration_form input[type="number"],
.registration_form textarea{
    border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
}

.registration_form input[type="name"]::placeholder,
.registration_form input[type="email"]::placeholder,
.registration_form input[type="number"]::placeholder,
.registration_form textarea::placeholder{
    color: #2c3e50;
}

.form-control{
    padding: 0;
}

.registration_form button{
    padding: 6px 15px;
    margin-top: 20px;
}

.contact_me{
    margin-bottom: 100px;
}

.registration_form .my_btn:hover{
    color:#fff;
    background-color: #04806dcf;
}



/* FOOTER */

footer .footer_1{
    height: 450px;
}

footer .footer_1 ul{
    display: inline-block;
    list-style: none;
}

footer .footer_1 .social_icon i{
    position: relative;
    right: 25px;
    display:inline-block;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 50px;
    transition: all 0.3s;
}

footer .footer_1 .social_icon i:hover{
    color: #2c3e50;
    background-color: #fff;
}

footer .footer_1 .freelance{
    color: #1abc9c;
} 

footer .footer_2{
    height: 80px;
    background:#233242 ;
}

footer .footer_2 span{
    font-size: 16px;
    line-height: 80px;
    
}


/* RESPOSIVE */

@media screen and (min-width:768px){
   

    .section_hero h1{
        font-size: 50px ;
    }

    .section_hero h2{
        font-size: 25px;
        padding-bottom: 80px;
    }
    
    .hr{
        content:"";
        display:inline-block;
        height: 4px;
        width:150px;
        border-radius: 3px;
    }
    
    .fa-star{
        padding: 20px;
        font-size: 30px;
    }

    .section_portfoglio h3,
    .about h3,
    .contact_me h3{
        font-size: 40px;
    }

    .margin_top_small{
        margin-top:0;
    }

    footer .footer_1{
        height: 280px;
        padding-top: 40px;
    }

    footer .footer_1 h4{
        font-size: 25px;
    }

    .footer_1 .social_icon i{
        width: 40px;
        height: 40px;
        margin-left: 5px;
        line-height: 40px;
    } 
}



@media screen and (min-width:768px) and (max-width:992px){


    footer .footer_1 .social_icon i{
        font-size: 14px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

}
