
/* GENERAL */

html {
    scroll-behavior: smooth;
}

body{
    padding-top:70px;
     font-size: 19px;
  
}

/* UTILITIES */

 .size{
    font-weight: normal;
}  


.bg_blue{
    background: #2c3e50;
}

.bg_white{
    background: #fff;
}

.bg_green{
    background:#1abc9c;
}

.color_white{
    color:#fff;
}

.color_blue{
    color: #2c3e50;
}

.padding_left{
    padding-left: 15px;
}

.padding-0{
    padding:0;
}
.margin_top{
    margin-top: 60px;
} 

 .margin_bottom{
    margin-bottom: 60px;
}  

.margin_top_small{
    margin-top:25px;
}

.hr{
    content:"";
    display: inline-block;
    height: 3px;
    width: 60px;
    border-radius: 3px;
    border: 1px solid transparent;
}

.icon_left{
    margin-right: 5px;
}

/* LAYOUT */

.fa-star{
    font-size: 15px;
}



/* HEADER */

 header.main_header .navbar a {
    font-weight: bold;
    font-size: 20px;;
    text-decoration: none;
    color: #fff;
} 


header.main_header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 1;
}

header.main_header .navbar{
    margin-top:10px;
    margin-bottom: 10px;
}

header.main_header .navbar-right a:hover{
    color:#1abc9c;
}


/* HERO */

.section_hero img{
    width: 180px;
    padding-top: 20px;
}

.section_hero h1{
    font-size: 35px ;
}

.section_hero h2{
    font-size: 16px;
   
}


/* PORTFOGLIO */


.section_portfoglio .card{
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}


/* ABOUT */


/* button */

.my_btn{
    padding:10px;
    font-size: 16px;
    border-color: transparent;
    transition: all .3s;
}

.my_btn_outline{
    color:#fff;
    border: 1px solid #fff;
}

.my_btn_outline:hover{
    background-color: #fff;
    color:black;   
}

.about .my_btn{
    margin-top: 80px;
}

 /* CONTACT */

.registration_form input[type="name"],
.registration_form input[type="email"],
.registration_form input[type="number"],
.registration_form textarea{
    border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
}

.form-control{
    padding: 0;
}

.registration_form button{
    padding: 6px 15px;
    margin-top: 20px;
    position: absolute;
    left: 16px;
}

.registration_form input::placeholder,
.registration_form textarea::placeholder{
    color: #2c3e50;
}

.contact_me{
    margin-bottom: 100px;
}

.registration_form .my_btn:hover{
    color:#fff;
    background-color: #04806dcf;
}



/* FOOTER */

footer .footer_1{
    height: 450px;
}

.footer_1 ul{
    display: inline-block;
    list-style: none;
}

.footer_1 .social_icon i{
    position: relative;
    right: 25px;
    display:inline-block;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 50px;
    transition: all 0.3s;
}

.footer_1 .social_icon i:hover{
    color: #2c3e50;
    background-color: #fff;
}

.footer_1 .freelance{
    color: #1abc9c;
} 




footer .footer_2{
    height: 80px;
    background:#233242 ;
}


/* RESPOSIVE */

@media screen and (min-width:768px){
   

    .section_hero h1{
        font-size: 50px ;
    }

    .section_hero h2{
        font-size: 25px;
        padding-bottom: 80px;
    }
    
    .hr{
        content:"";
        display:inline-block;
        height: 4px;
        width:150px;
        border-radius: 3px;
    }
    
    .fa-star{
        padding: 20px;
        font-size: 30px;
    }

    .section_portfoglio h3,
    .about h3,
    .contact_me h3{
        font-size: 40px;
    }

    .margin_top_small{
        margin-top:0;
    }

    footer .footer_1{
        height: 280px;
        padding-top: 40px;
    }

    footer .footer_1 h4{
        font-size: 25px;
    }

    .footer_1 .social_icon i{
        width: 40px;
        height: 40px;
        margin-left: 5px;
        line-height: 40px;
    } 
}
