
/* GENERAL */

html {
    scroll-behavior: smooth;
}

body{
    padding-top:70px;

    
}

/* UTILITIES */

.bg_blue{
    background: #2c3e50;
}


.bg_green{
    background:#1abc9c;
}

.color_white{
    color:#fff;
}

.color_blue{
    color:#2c3e50;
}

.padding_left{
    padding-left: 15px;
}

.card{
    max-width: 100%;
    border-radius: 10px;
}


.hr{
    content:"";
    display:inline-block;
    height: 4px;
    width:80px;
    border-radius: 3px;
}

.fa-star{
    font-size: 20px;
}

/* LAYOUT */



.section_portfoglio .card{
    margin-top:10px;
    margin-bottom: 10px;
}


/* HEADER */

 header.main_header .navbar a {
    font-weight: bold;
    font-size: 20px;;
    text-decoration: none;
    color: #fff;
} 


header.main_header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 1;
}

header.main_header .navbar{
    margin-top:10px;
    margin-bottom: 10px;
}

header.main_header .navbar-right a:hover{
    color:#1abc9c;
}


/* HERO */

.section_hero img{
    width: 180px;
    padding-top: 20px;
}


.section_hero .hr{
    background-color: #fff;
    border: 1px solid #fff;
    margin-bottom: 7px;

}




/* PORTFOGLIO */

.section_portfoglio h3{
    font-size: 30px;
}

.section_portfoglio .star{
  position:relative;
  bottom:30px;
}

.section_portfoglio .hr{
    background-color: #2c3e50;
    border: 1px solid #2c3e50;
}








/* FAKE CONTENT */

/* general */

/*hero*/

.section_hero {
    height: 420px;
}

/*portfoglio */


.section_portfoglio h3{
  padding:30px;
}

/* about */

.about{
    margin-top:20px;
    height: 480px;
}

.about .box{
    margin-top: 20px;
}


/* contact me */

.contact_me{
    height:420px;
}

/* footer */

footer .footer_1{
    padding-top: 30px;
    padding-bottom: 30px;
    height:340px;
}

footer .footer_2{
    height:80px;
    background:#233242 ;
}

